  <!-- <div class="sidebar">
      <div class="row">
        <div class="col-4">
          <h2>test</h2>
        </div>
        <div class="col-8">
          <h2>cba</h2>
        </div>
      </div>
    </div> -->
<nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #fff!important;">
    <div class="container-fluid">
    <span class="navbar-toggler-icon"></span>
    <div class="d-flex align-items-center">
        <form class="d-flex" role="search">
        <div class="input-group">
            <span class="input-group-text"><i class="bi bi-search"></i></span>
            <input class="form-control form-search" name="search" type="search" placeholder="Search" aria-label="Search" >
            <button class="btn btn-outline-success search-button" type="submit">Search</button>
        </div>
        </form>
        <div class="ms-4 d-flex align-items-center">
        <i class="bi bi-person-circle name-img"></i>
        <p class="my-0 ms-2 me-3 name-account">John Doe</p>
        <img src="/assets/Vector.svg" alt="vector">
        </div>
    </div>
    </div>
</nav>